@use "../../mixins";

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  .title-icon {
	height: 2.5rem;
	border-radius: 0.5rem;
  }

  .title-text {
	margin-left: 1rem;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
  }
}