@use "../../mixins";

.main-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.tool-hub {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 4rem;
  width: 100%;
  padding-left: 1rem;
  background-color: var(--eerie-black2);
  box-shadow: 0 0 4rem black;

  .hub-title {
    display: flex;
    align-items: center;

    .title-icon {
      height: 3rem;
      cursor: pointer;
    }

    .title-text {
      color: var(--baby-powder);
      font-size: 1rem;
      letter-spacing: 2px;
      padding-left: 1rem;
      cursor: pointer;

      @include mixins.respond-to(desktop) {
        font-size: 1.2rem;
      }
    }
  }

  .hub-title:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
  }

  @include mixins.respond-to(desktop) {
    height: 5rem;
  }
}

.tool-content {
  flex: 1 1 auto;
  margin: 0;
  padding: 1rem;
  overflow-y: auto;

  @include mixins.respond-to(desktop) {
    padding: 2rem;
  }
}

.tool-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}