@use "../../mixins";

.main-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.tool-hub {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 4rem;
  width: 100%;
  padding-left: 1rem;
  background-color: var(--eerie-black2);
  box-shadow: 0 0 4rem black;

  .hub-icon {
    font-size: 2rem;
    color: var(--gray);
  }

  .hub-icon:hover {
    cursor: pointer;
    color: var(--baby-powder);
  }

  .hub-title {
    color: var(--baby-powder);
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;

    @include mixins.respond-to(desktop) {
      font-size: 1.5rem;
    }
  }

  @include mixins.respond-to(desktop) {
    height: 5rem;
  }
}

.tool-content {
  flex: 1 1 auto;
  margin: 0;
  padding: 1rem;
  overflow-y: auto;

  @include mixins.respond-to(desktop) {
    padding: 2rem;
  }
}

.tool-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}