@use 'index.scss';

$colors: (
        "gray": (
                shade-0: color-mix(in srgb, var(--paynes-gray), white 90%),
                shade-1: color-mix(in srgb, var(--paynes-gray), white 80%),
                shade-2: color-mix(in srgb, var(--paynes-gray), white 60%),
                shade-3: color-mix(in srgb, var(--paynes-gray), white 40%),
                shade-4: color-mix(in srgb, var(--paynes-gray), white 20%),
                shade-5: color-mix(in srgb, var(--paynes-gray), white 0%),
                shade-6: color-mix(in srgb, var(--paynes-gray), black 10%),
                shade-7: color-mix(in srgb, var(--paynes-gray), black 20%),
                shade-8: color-mix(in srgb, var(--paynes-gray), black 30%),
                shade-9: color-mix(in srgb, var(--paynes-gray), black 40%),
        ),
        "red": (
                shade-0: color-mix(in srgb, var(--engineering-orange), white 90%),
                shade-1: color-mix(in srgb, var(--engineering-orange), white 80%),
                shade-2: color-mix(in srgb, var(--engineering-orange), white 60%),
                shade-3: color-mix(in srgb, var(--engineering-orange), white 40%),
                shade-4: color-mix(in srgb, var(--engineering-orange), white 20%),
                shade-5: color-mix(in srgb, var(--engineering-orange), white 0%),
                shade-6: color-mix(in srgb, var(--engineering-orange), black 10%),
                shade-7: color-mix(in srgb, var(--engineering-orange), black 20%),
                shade-8: color-mix(in srgb, var(--engineering-orange), black 30%),
                shade-9: color-mix(in srgb, var(--engineering-orange), black 40%),
        ),
        "blue": (
                shade-0: color-mix(in srgb, var(--azure), white 90%),
                shade-1: color-mix(in srgb, var(--azure), white 80%),
                shade-2: color-mix(in srgb, var(--azure), white 60%),
                shade-3: color-mix(in srgb, var(--azure), white 40%),
                shade-4: color-mix(in srgb, var(--azure), white 20%),
                shade-5: color-mix(in srgb, var(--azure), white 0%),
                shade-6: color-mix(in srgb, var(--azure), black 10%),
                shade-7: color-mix(in srgb, var(--azure), black 20%),
                shade-8: color-mix(in srgb, var(--azure), black 30%),
                shade-9: color-mix(in srgb, var(--azure), black 40%),
        ),
        "green": (
                shade-0: color-mix(in srgb, var(--hookers-green), white 90%),
                shade-1: color-mix(in srgb, var(--hookers-green), white 80%),
                shade-2: color-mix(in srgb, var(--hookers-green), white 60%),
                shade-3: color-mix(in srgb, var(--hookers-green), white 40%),
                shade-4: color-mix(in srgb, var(--hookers-green), white 20%),
                shade-5: color-mix(in srgb, var(--hookers-green), white 0%),
                shade-6: color-mix(in srgb, var(--hookers-green), black 10%),
                shade-7: color-mix(in srgb, var(--hookers-green), black 20%),
                shade-8: color-mix(in srgb, var(--hookers-green), black 30%),
                shade-9: color-mix(in srgb, var(--hookers-green), black 40%),
        ),
        "purple": (
                shade-0: color-mix(in srgb, var(--english-violet), white 90%),
                shade-1: color-mix(in srgb, var(--english-violet), white 80%),
                shade-2: color-mix(in srgb, var(--english-violet), white 60%),
                shade-3: color-mix(in srgb, var(--english-violet), white 40%),
                shade-4: color-mix(in srgb, var(--english-violet), white 20%),
                shade-5: color-mix(in srgb, var(--english-violet), white 0%),
                shade-6: color-mix(in srgb, var(--english-violet), black 10%),
                shade-7: color-mix(in srgb, var(--english-violet), black 20%),
                shade-8: color-mix(in srgb, var(--english-violet), black 30%),
                shade-9: color-mix(in srgb, var(--english-violet), black 40%),
        ),
        "yellow": (
                shade-0: color-mix(in srgb, var(--sandy-brown), white 90%),
                shade-1: color-mix(in srgb, var(--sandy-brown), white 80%),
                shade-2: color-mix(in srgb, var(--sandy-brown), white 60%),
                shade-3: color-mix(in srgb, var(--sandy-brown), white 40%),
                shade-4: color-mix(in srgb, var(--sandy-brown), white 20%),
                shade-5: color-mix(in srgb, var(--sandy-brown), white 0%),
                shade-6: color-mix(in srgb, var(--sandy-brown), black 10%),
                shade-7: color-mix(in srgb, var(--sandy-brown), black 20%),
                shade-8: color-mix(in srgb, var(--sandy-brown), black 30%),
                shade-9: color-mix(in srgb, var(--sandy-brown), black 40%),
        )
);

@each $color, $shades in $colors {
        @each $shade, $value in $shades {
                .#{$color}-#{$shade} {
                        background-color: $value;
                }
        }
}