@use 'mixins';

:root {
    --white: #FFFFFF;
    --baby-powder: #FBFEF9;

    --light-night: #222222;
    --night: #0A0A0A;
    --raisin-black: #1F2433;
    --rich-black: #0A0F1E;
    --black: #000000;
    --eerie-black2: #202020;
    --eerie-black1: #191919;

    --gray: #777777;
    --paynes-gray: #56667A;

    --space-cadet: #1B264F;
    --azure: #4C7FE6;
    --vista-blue: #80A4ED;

    --sandy-brown: #FFA552;

    --raspberry-rose: #B8336A;
    --penn-red: #92140C;
    --engineering-orange: #BF0603;

    --english-violet: #5D3A66;

    --hookers-green: #397367;
    --midnight-green: #004346;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.align-vertical {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.align-horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.block {
    margin-bottom: 2rem;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}